body {
	background: #cccccc url(../media/bg_tile.gif)  repeat;
	font-family: arial, sans-serif;
	/* altering font-size could cause formatting problems in places */
	font-size: 12px;
}

/*main logo.  The width will probably have to be changed to accomodate your specific logo */
#logo {
	width: 300px;
	background-image: url(../media/fgdl_logo_draft300.jpg);
}

/* css for the Contact dialog */
#contact {
	padding: 10px;
}

#contactLogos {
    background: none repeat scroll 0 0 #CCCCCC;
    bottom: 15px;
    height: 30px;
    left: 33px;
    padding-top: 5px;
    position: absolute;
    width: 83%;
}

#contactLogos > div {
	cursor: pointer;
    display: inline-block;
    height: 16px;
    padding: 5px;
}

#contactLogos > div.gisLogo {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	height: 15px;
}

#contactLogos > div.itLogo {
	float: left;
	margin-left: 25%;
}

#footerLogos > div.gisLogo {
	height: 25px;
	float:right;
	margin-left:1px;
}

#footerLogos {
	margin-right: 30px;
}

/*logos in the footer and in contact dialog */
/*
.itLogo {
	line-height: 25px;
	color: white;
	font-weight: 900;
	width: 150px;
 	background: url(../media/geoplan_logo.png) no-repeat transparent;
	}
*/

.itLogo {
	width: 160px;
 	background: url(../media/GeoPlan-Logo-Final-CMYK-small.gif) no-repeat white 0px -27px;
}

.gisLogo {
	width: 0px;
/*	vertical-align: bottom;
 	background: url(../media/t60_24.gif) no-repeat white -0px 1px;
	width: 75px;
 	background: url(../media/fgdl_logo.png) no-repeat transparent;
 */	}

h1 {
	font-size: 14px;
	color:#003366;
}

h2 {
	font-size: 13px;
	color: #3366cc;
	margin-bottom: 3px;
}

 h4 {
  	text-decoration:underline;
 }

#header {
  	background-color: #edf4fa;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #999999 solid 1px;
}

#top_menu {
 	width: 202px;
 	background: url(../media/top_menu_bg.png) no-repeat transparent;
 }

 #top_menu a {
 	color:#FFFFFF;
}

#top_menu a:hover {
	color:#FFFF66;
}

span.login {
	display: none;
}

#welcome {
	color:#333333;
}

#footer {
	height: 30px;
	background: #003366;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #333 solid 1px;
}

#footer a{
	color:#FFFFFF;
	text-decoration:none;
}

#footer a:hover{
	color:#FFFF66;
}

a.normalLink:link {
	color: #0000EE;
}

a.normalLink:visited {
	color: #551A8B;
}
.highlight_row {
	background-color: #edf4fa;
}

/* corner wrapper css from http://css-tricks.com/snippets/css/corner-ribbon/ */
.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-red {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  left: -3px;
}

.ribbon-red {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 7px 0;
  right: -5px;
  top: 15px;
  width: 120px;
  float: right;
  background-color: #FA161C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FA161C), to(#FA272D));
  background-image: -webkit-linear-gradient(top, #FA161C, #FA272D);
  background-image:    -moz-linear-gradient(top, #FA161C, #FA272D);
  background-image:     -ms-linear-gradient(top, #FA161C, #FA272D);
  background-image:      -o-linear-gradient(top, #FA161C, #FA272D);
  color: #A20409;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-red:before, .ribbon-red:after {
  content: "";
  border-top:   3px solid #D1050B;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-red:before {
  left: 0;
}
.ribbon-red:after {
  right: 0;
}