body {
	background: #cccccc url(../media/bg_tile.gif)  repeat;
	font-family: arial, sans-serif;
	/* altering font-size could cause formatting problems in places */
	font-size: 12px;
}

/*main logo.  The width will probably have to be changed to accomodate your specific logo */
#logo {
	width: 300px;
	background-image: url(../media/fgdl_logo_draft300.jpg);
}

/* css for the Contact dialog */
#contact {
	padding: 10px;
}

#contactLogos {
    background: none repeat scroll 0 0 #CCCCCC;
    bottom: 15px;
    height: 40px;
    left: 33px;
    padding-top: 5px;
    position: absolute;
    width: 83%;
}

#contactLogos > div {
	cursor: pointer;
    display: inline-block;
    height: 25px;
    padding: 5px;
}

#contactLogos > div.gisLogo {
	float: right;
	margin-right: 5px;
	margin-top: 5px;
	height: 15px;
}

#contactLogos > div.itLogo {
	float: left;
	margin-left: 10px;
}

#footerLogos > div.gisLogo {
	height: 24px;
}

/*logos in the footer and in contact dialog */
.itLogo {
	line-height: 25px;
	color: white;
	font-weight: 900;
/*	width: 150px;
 	background: url(../media/geoplan_logo.png) no-repeat transparent;
 */	}

.gisLogo {
	vertical-align: bottom;
	width: 50px;
 	background: url(../media/t60_24.gif) no-repeat white;
/*	vertical-align: bottom;
	width: 75px;
 	background: url(../media/fgdl_logo.png) no-repeat transparent;
 */	}

h1 {
	font-size: 14px;
	color:#003366;
}

h2 {
	font-size: 13px;
	color: #3366cc;
	margin-bottom: 3px;
}

 h4 {
  	text-decoration:underline;
 }

#header {
  	background-color: #edf4fa;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #999999 solid 1px;
}

#top_menu {
 	width: 252px;
 	background: url(../media/top_menu_bg.png) no-repeat transparent;
 }

 #top_menu a {
 	color:#FFFFFF;
}

#top_menu a:hover {
	color:#FFFF66;
}

#welcome {
	color:#333333;
}

#footer {
	height: 30px;
	background: #003366;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
	border-bottom: #333 solid 1px;
}

#footer a{
	color:#FFFFFF;
	text-decoration:none;
}

#footer a:hover{
	color:#FFFF66;
}

.highlight_row {
	background-color: #edf4fa;
}